textarea{
    width:  80%;
    height: 100px;
    display: flex;
}
.comentarLista{
    width: 80%;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 20px;
}

header, footer{    
    background-color: #0d939dc4;
}


.bg-prim{
    background-color: #0a81b1;
    color: white;
}
.bg-second{
    background-color: #1e68f1;
    color: #0a8de5;
}

.card-second{
    background-color: #8af7ee;
    color: #0a70e5;
    border-color: #0d2f9d;
}

body{
    background-color: #8af7f7;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

#detalles{
    font-size: 24px;
    font-weight: bold;
    
}


.responsive-iframe {
    width: 100%;
    height: auto;
}
main
{
    margin: 15px;
    
}

article
{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
